{%- comment -%}
  Sold Tag Block
  A reusable "Sold" tag that can be added to product templates
  Styled consistently with existing product labels (sale, new, stock tags)
{%- endcomment -%}

<div class="sold-tag-container lightly-spaced-row" {{ block.shopify_attributes }}>
  {% if block.settings.enable_box %}
    <span class="product-label product-label--sold with-icon">
      <span>
        <div class="icon-container">
          <span class="sold-tag__icon">{%- render 'icon', icon: 'check_mark_in_circle', size: 'small' -%}</span>
        </div>
        <span class="with-icon__beside">
          {%- if block.settings.sold_text != blank -%}
            {{ block.settings.sold_text }}
          {%- else -%}
            Sold
          {%- endif -%}
        </span>
      </span>
    </span>
  {% else %}
    <div class="sold-tag with-icon">
      <div class="icon-container">
        <span class="sold-tag__icon">{%- render 'icon', icon: 'check_mark_in_circle', size: 'small' -%}</span>
      </div>
      <span class="with-icon__beside sold-tag__text">
        {%- if block.settings.sold_text != blank -%}
          {{ block.settings.sold_text }}
        {%- else -%}
          Sold
        {%- endif -%}
      </span>
    </div>
  {% endif %}
</div>

<style>
  .sold-tag-container {
    margin: 1rem 0;
  }

  .sold-tag {
    display: inline-flex;
    align-items: center;
    color: var(--product-label-overlay-stock-text);
    font-size: var(--base-text-size);
    font-weight: 500;
    padding: 0.75rem 0;
  }

  .product-label--sold > span {
    background: var(--product-label-overlay-stock-bg);
    color: var(--product-label-overlay-stock-text);
    display: inline-flex;
    align-items: center;
    font-size: var(--base-text-size);
  }

  .sold-tag .icon-container,
  .product-label--sold .icon-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .sold-tag .icon {
    vertical-align: top;
  }

  .sold-tag .icon .svg-part-circle {
    fill: rgb(var(--body-bg-color, 255, 255, 255));
  }

  .sold-tag__text {
    font-weight: inherit;
  }
</style>